.ant-table-cell {
    padding : 10px;
    vertical-align: middle;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding:0
}

.ReactCollapse--collapse {
    transition: height 500ms;
  }

  .ReactCollapse--collapse {
    transition: height 500ms;
  }
  
  .p-0{
    padding:0
  }
  
  .p-10{
    padding:"10px"
  }

  .b-0 {
       border-top:0,
      /* border-bottom:0 */
    }

.m-10{ margin:"10px"}